.button {
  background: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
  pointer-events: all;

  &:hover {
    background: darken($purple, 10%);
    border-bottom: .3rem solid darken($purple, 10%);
  }
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}

.no-hover{
  pointer-events: none;
}
